$white-color: #fff;
$shadow-color: #e5e5e5;
$pot-shade-0-50: #d3d3d3;
$pot-shade-50-75: #c8c8c8;
$pot-shade-75-100: #bdbdbd;
$border-color: #b8860b;
$shadow-fill-color: #ffb6c1;
$light-green: #90ee90;
$dark-green: #5ee65e;

#cactus {
    height: 350px; 
    margin: 30px auto;
    width: 170px;
    // border: 1px solid blue;
    position: relative;
    border: 11px solid $border-color;
    border-radius: 50%;
    box-shadow: 
        0px -100px 0px -60px $border-color,
        -25px -85px 0px -60px $border-color,
        25px -85px 0px -60px $border-color
    ;

    background: 
        linear-gradient(
            to right,
            transparent,
            transparent 55%,
            rgba(0, 0, 0, 0.1) 55%,
            rgba(0, 0, 0, 0.1)
        ),
        radial-gradient(
            $white-color 16%, 
            transparent 0%
        ),
        repeating-linear-gradient(
            to right,
            $light-green,
            $light-green 20px,
            $dark-green 20px,
            $dark-green 40px
        )
        ;
        background-size: 
            100% 100%,
            38px 38px,
            100% 100%
        ;
    height: 350px; 
    margin: 30px auto;
    width: 170px;
    // border: 1px solid blue;
    position: relative;
    border: 11px solid $border-color;
    border-radius: 50%;
    box-shadow: 
        0px -100px 0px -70px $shadow-fill-color,
        -25px -85px 0px -70px $shadow-fill-color,
        25px -85px 0px -70px $shadow-fill-color,
        0px -100px 0px -60px $border-color,
        -25px -85px 0px -60px $border-color,
        25px -85px 0px -60px $border-color
    ;

    background: 
        linear-gradient(
            to right,
            transparent,
            transparent 55%,
            rgba(0, 0, 0, 0.1) 55%,
            rgba(0, 0, 0, 0.1)
        ),
        radial-gradient(
            $white-color 16%, 
            transparent 0%
        ),
        repeating-linear-gradient(
            to right,
            $light-green,
            $light-green 20px,
            $dark-green 20px,
            $dark-green 40px
        )
        ;
        background-size: 
            100% 100%,
            38px 38px,
            100% 100%
        ;


    // flower pot
    &:after {
        border: 11px solid $border-color;
        border-radius: 20px;
        border-bottom-left-radius: 45% 100%;
        border-bottom-right-radius: 45% 100%;
        position: absolute;
        bottom: 0;
        content: '';
        background: linear-gradient(
            to right,
            $pot-shade-0-50 0%,
            $pot-shade-0-50 50%,
            $pot-shade-50-75 50%,
            $pot-shade-50-75 75%,
            $pot-shade-75-100 75%,
            $pot-shade-75-100 100%
        );
        height: 100px;
        left: -50px;
        right: -50px;
    }

    // shadow
    &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: -25px;
        // top: 0;
        height: 70px;
        border-radius: 50%;
        background-color: $shadow-color;
    }
}