extends _layout/base
block settings
  - title = 'Welcome to Pug Starter';
  - description = 'Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects';

block content
  h1 Cactus Challenge
  #cactus-wrapper
    #cactus