// reset everything
* {
  margin: 0;
  padding: 0;
}

// add border to #cactus-wrapper
#cactus-wrapper {
  margin-left: 50px;
  border: 1px solid red;
  width: 300px;
  height: 460px;
}
@import 'cactus'